:root{
    --background: #f5f5f5;
    --btnGreen: #2EB394;
    --btnWhite: #fff;
    --btnBlue: #02306A;
    --btnFont: 19px;
    --btnSize: 110px;
    --font: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    --bigSize: 48px; /* 36pt */
    --mainSize: 19px; /* 14pt*/
    --txtColor: #000;
    --gray: #bdbdbd;
  }
  
  img{
    width: 100%;
    display: block;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
    background: rgba(255,255,255,0.5);
  }

  .logo{
    width: 75px;
  }
  
  .nav{
    display: flex;
    align-items: center;
  }
  
  .nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav ul a{
    font-size: var(--mainSize);
    color: var(--btnBlue);
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 20px;
    transition: color .3s ease-in-out;
  }
  
  .nav ul a.active{
    color: var(--btnGreen);
  }
  
  .nav ul a:hover{
    color: var(--btnGreen);
    transition: color .3s ease-in-out;
  }
  
  .background{
    width: 1550px;
    position: absolute;
    top: 0;
    right: -515px;
    transform: rotate(327deg);
    z-index: -2;
    opacity: 0.1;
  }
  
  body{
    margin: 0;
    font-family: var(--font);
  }
  
  .pageWrapper{
    width: 100%;
    display: block;
  }

  main{
    padding: 0 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .video_container{
    position: sticky;
  }
  
  .about_text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-right: 25px;
  }
  
  .team{
    margin: 8px 150px;
    font-family: var(--font);
  }
  
  .team img{
    width: 100%;
    height: auto;
    min-height: 300px;
  }
  
  .member{
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  
  .member:nth-child(odd) {
    flex-direction: row-reverse;
  }
  
  .member .img{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
    border-radius: 50%;
  } 
  
  .title{
    width: 100%;
    text-align: center;
  }
  
  .title h2{
    font-size: 45px;
  }
  
  .member .team-txt{
    max-width: 750px;
    margin-left: 50px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .member .team-txt h3{
    font-size: 26px;
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .member .team-txt p{
    font-size: 17px;
    margin: 0px;
  }
  
  .member:nth-child(odd) .team-txt{
    margin-left: 0px;
    margin-right: 50px;
    text-align: right;
  }
  
  @media only screen and (max-width: 1400px){
    .team{
      margin: 8px 25px;
    }
    .member{
      margin: 35px 0px;
    }
  }
  
  @media only screen and (max-width: 799px){
    .member{
      display: block;
    }
  
    .member .img{
      margin: auto;
      margin-bottom: 40px;
    }
  
    .member .team-txt{
      text-align: center !important;
      margin: 0px !important;
    }
  }
  
  @media only screen and (max-width: 320px){
    .member .img{
      width: 250px;
      height: 250px;
      min-width: 250px;
      min-height: 250px;
      max-width: 250px;
      max-height: 250px;
    }

    .team img{
      height: auto;
      min-height: 250px;
    }
  }

  @media only screen and (max-width: 1100px) {
    main {
      flex-direction: column-reverse;
      /* justify-content: center;
      margin: 5px;
      align-items: center;
      margin: 130px auto 0; */
    }

    body{
        padding: 5px;
    }
  
    .video_container{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .video {
      /* margin-left: -205px; */
      width: 100%;
    }

  } 
  
  @media only screen and (max-width: 420px) {
    main {
      flex-direction: column-reverse;
      /* justify-content: center;
      margin: 5px;
      align-items: center;
      margin: 130px auto 0; */
    }

    body{
        padding: 5px;
    }
  
    .video_container{
      width: 100%;
    }
  
    .video {
      /* margin-left: -205px; */
      width: 100%;
    }

  } 
  