:root{
  --background: #f5f5f5;
  --btnGreen: #2EB394;
  --btnWhite: #fff;
  --btnBlue: #02306A;
  --btnFont: 19px;
  --btnSize: 110px;
  --font: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  --bigSize: 48px; /* 36pt */
  --mainSize: 19px; /* 14pt*/
  --txtColor: #000;
  --gray: #bdbdbd;
}

img{
  width: 100%;
  display: block;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo{
  width: 75px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav ul a{
  font-size: var(--mainSize);
  color: var(--btnBlue);
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 20px;
  transition: color .3s ease-in-out;
}

.nav ul a.active{
  color: var(--btnGreen);
}

.nav ul a:hover{
  color: var(--btnGreen);
  transition: color .3s ease-in-out;
}

.background{
  width: 1550px;
  position: absolute;
  top: 0;
  right: -515px;
  transform: rotate(327deg);
  z-index: -2;
  opacity: 0.1;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: var(--font);
  max-width: 100%;
  max-height: auto;
  overflow: hidden;
  overflow-y: auto;
}

main{
  display: flex;
}

.video_container{
  width: 40%;
  position: sticky;
}

.about_text {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-right: 10px;
}

@media only screen and (max-width: 420px) {
  body{
    width: auto;
    height: auto ;
  }
  
  main {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 5px;
    align-items: center;
    margin: 130px auto 0;
  }

  .video_container{
    width: 15%;
  }

  .video {
    margin-left: -205px;
    width: 461px;
  }

  .about_text{
    width: auto;
  }
} 

